<h2>By Country</h2>
<hr />

<div class="row">
  <div class="col">
    <shared-search-box
      (onValue)="onSubmit($event)"
      (onDebunce)="suggestions($event)"
      placeholder="Enter country"
    ></shared-search-box>
  </div>
</div>
<ul class="list-group" *ngIf="showSuggestions">
  <li
    *ngFor="let country of suggestedCountries"
    class="list-group-item list-group-item-action user-select-none pointer"
  >
    <a class="nav-link" [routerLink]="['/countries/by', country.cca2]">
      {{ country.name.common }}
    </a>
  </li>
  <li class="list-group-item list-group-item-action user-select-none pointer">
    <a class="" (click)="searchSuggested(search)"> Search "{{ search }}" </a>
  </li>
</ul>
<hr />
<div *ngIf="thereIsError" class="alert alert-danger">
  {{ search | titlecase }} was not found.
</div>

<div class="row" *ngIf="countries.length > 0">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>
