<h2>By Country</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" (submit)="onSubmit()">
      <input
        type="text"
        name="search"
        class="form-control"
        placeholder="Enter country"
        [(ngModel)]="search"
      />
    </form>
  </div>
</div>
<hr />
<div *ngIf="thereIsError" class="alert alert-danger">
  {{ search | titlecase }} was not found.
</div>

<div class="row" *ngIf="countries.length > 0">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>
